<div class="container">
    <div class="grid-container">
  
      <div class="header">
        <h2>SpaceX Launch Programs</h2>
      </div>
  
      <div class="menu">
        <div class="card">

            <h4>Filters</h4>
        
            <div>
        
                <div class="filter-heading">
                    <p>Launch Year</p>
                    <hr>
                </div>
        
                <div class="button-container">
                    <div *ngFor="let year of yearValues">
                        <button class="button-active" *ngIf="year.year == launch_year"
                            (click)="onClickLaunchYearFilter(year.year)">{{year.year}}</button>
                        <button class="button" *ngIf="year.year != launch_year"
                            (click)="onClickLaunchYearFilter(year.year)">{{year.year}}</button>
                    </div>
                </div>
        
            </div>
        
            <div>
        
                <div class="filter-heading">
                    <p>Successfull Launch</p>
                    <hr>
                </div>
        
                <div class="button-container">
                    <div *ngFor="let launch of launchValues">
                        <button class="button-active" *ngIf="launch_success == launch.success"
                            (click)="onClickLaunchSuccess(launch.success)">{{launch.success | titlecase}}</button>
                        <button class="button" *ngIf="launch_success != launch.success"
                            (click)="onClickLaunchSuccess(launch.success)">{{launch.success | titlecase}}</button>
                    </div>
                </div>
        
            </div>
        
            <div>
        
                <div class="filter-heading">
                    <p>Successfull Landing</p>
                    <hr>
                </div>
        
                <div class="button-container">
        
                    <div *ngFor="let land of landingValues">
                        <button class="button-active" *ngIf="land_success == land.success"
                            (click)="onClickLandSuccess(land.success)">{{land.success | titlecase}}</button>
                        <button class="button" *ngIf="land_success != land.success"
                            (click)="onClickLandSuccess(land.success)">{{land.success | titlecase}}</button>
                    </div>
                </div>
        
            </div>
        
        
        
        </div>
      </div>
  
      <div class="main">
        <div class="grid-container">

            <ng-container *ngIf="!service.loadingData">
                <div class="grid-item" *ngFor="let data of service.SpaceXData">
                    <div class="card">
                        <div class="card-image">
                            <img [src]="data.links.mission_patch" alt="mission_image" height="200">
                        </div>
        
                        <div>
                            <div class="heading">
                                <p>{{data.mission_name}} #{{data.flight_number}}</p>
                            </div>
        
                            <div>
                                <p class="sub-heading">Mission IDs:</p>
        
                                <ul>
                                    <li class="answer-text" *ngIf="data.mission_id.length == 0">No IDs Found!</li>
                                    <li class="answer-text" *ngIf="data.mission_id.length>0">{{data.mission_id[0]}}</li>
                                </ul>
                            </div>
        
                            <div>
                                <span class="sub-heading"> Launch Year :</span> <span
                                    class="answer-text">{{data.launch_year}}</span>
                            </div>
        
                            <div>
                                <span class="sub-heading"> Successfull Launch: </span> <span
                                    class="answer-text">{{data.launch_success}}</span>
                            </div>
        
                            <div>
                                <span class="sub-heading"> Successfull Landing : </span> <span
                                    class="answer-text">{{data.launch_landing}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        
        
            <ng-container *ngIf="this.service.loadingData">
                <div class="grid-item" *ngFor="let loader of LoaderArray">
                    <div class="card">
                        <div class="card-image">
                            <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
                        </div>
        
                        <div>
                            <div class="heading">
                                <ngx-skeleton-loader count="1"></ngx-skeleton-loader>
                            </div>
        
                            <div>
                                <ngx-skeleton-loader count="2"></ngx-skeleton-loader>
                            </div>
        
                            <div>
                                <ngx-skeleton-loader count="2"></ngx-skeleton-loader>
                            </div>
        
                            <div>
                                <ngx-skeleton-loader count="2"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        
        </div>
      </div>
  
      <div class="main no-data-main" *ngIf="service.SpaceXData.length == 0 && service.loadingData== false">
  
        <div class="no-data-found">
          No Data Found!
        </div>
  
      </div>
  
      <div class="footer">
        <h3>Developed by Abhijeet Singh</h3>
      </div>
  
    </div>
  </div>